<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
  </head>
  <body>
    
    <div class="text-container">
      <p id="notify"></p>

      <label for="uname">Username:</label>
      <input type="text" placeholder="Enter username" id="uname" required>

      <label for="psw">Password:</label>
      <input type="text" placeholder="Enter password" id="psw" required>

      <br>
      
      <button id="login-button">Login</button>

      <br>

      <a href="./signup.html">Don't have account? Create Account</a>
    </div>

    <script type="module" src="../src/login.js"></script>

  </body>
</html>