<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <p id="notify"></p>
    
    <br>

    <p id="static-text"></p>
    <p id="user-info"></p>

    <br>

    <label for="info">Change Info:</label>
    <input type="text" placeholder="Enter info" id="info" required>

    <br>
      
    <button id="info-button">Change</button>

    <br><br>

    <label for="uname">Change Username:</label>
    <input type="text" placeholder="Enter new username" id="uname" required>

    <br>
      
    <button id="uname-button">Change</button>

    <br><br>

    <label for="psw">Change Password:</label>
    <input type="text" placeholder="Enter current password" id="psw" required>
    <input type="text" placeholder="Enter new password" id="psw-new" required>

    <br>
      
    <button id="psw-button">Change</button>

    <br><br>

    <button id="delete-button">Delete Account</button>

    <br><br>

    <button id="logout-button">Logout</button>

    <script type="module" src="../src/profile.js"></script>
</body>
</html>