<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <div class="text-container">
        <p id="notify"></p>
  
        <p id="password-req">Password must be between 6 to 16 characters which contain only characters, numeric digits and underscore.</p>

        <label for="uname">Desired Username:</label>
        <input type="text" placeholder="Enter username" id="uname" required>
  
        <br>
        
        <label for="psw">Desired Password:</label>
        <input type="text" placeholder="Enter password" id="psw" required>
  
        <br>
        
        <button id="signup-button">Create Account</button>

        <br>
        
        <a href="./login.html">Have an account? Login</a>
      </div>
  
      <script type="module" src="../src/signup.js"></script>
</body>
</html>